<h1>support詳細画面</h1>
<%= image_tag @support.image.url %>
<p>タイトル: <%= @support.title %></p>
<p>内容: <%= @support.content %></p>
<P>料金:<%= @support.price %></P>
  <%= link_to 'お問い合わせ',  new_inquiry_path, support_id: @support.id %>

