<%= form_with(model: @inquiry, local: true) do |form| %>

<% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= @inquiry.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_field :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: "form-control"%>
  </div>
  <%#= form.hidden_field :support_id, value:@support  %>
  <div class="actions">
 <button type="submit", class="btn btn-primary btn-lg btn-block"> </button>
</div>
<% end %>
</div>

